@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo_airmax {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(63, 11, 21), crimson);
  padding-bottom: 10px;
  width: 100%;
  > img {
    width: 40%;
  }
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(crimson, rgb(63, 11, 21));
    width: 100%;
    height: 45px;
    flex-wrap: wrap;
  }
  nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px 10px;
  }
  .nav {
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
    
    .nav * {
      box-sizing: border-box;
      transition: all .35s ease;
    }
    
    .nav li {
      display: inline-block;
      list-style: outside none none;
      margin: .5em 1em;
      padding: 0;
    }
    
    .nav a {
      padding: .5em .8em;
      color: rgba(0, 0, 0, 0.76);
      position: relative;
      text-decoration: none;
      font-size: 20px;
    }
    
    .nav a::before,
    .nav a::after {
      content: '';
      height: 14px;
      width: 14px;
      position: absolute;
      transition: all .35s ease;
      opacity: 0;
    }
    
    .nav a::before {
      content: '';
      right: 0;
      top: 0;
      border-top: 3px solid black;
      border-right: 3px solid black;
      transform: translate(-100%, 50%);
    }
    
    .nav a:after {
      content: '';
      left: 0;
      bottom: 0;
      border-bottom: 3px solid black;
      border-left: 3px solid black;
      transform: translate(100%, -50%)
    }
    
    .nav a:hover:before,
    .nav a:hover:after{
      transform: translate(0,0);
      opacity: 1;
    }
    
    .nav a:hover {
      color: white;
    }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  min-height: 100vh;
  background-color: #ffffff;
  background-color: #0f0e17;
  color: white;
}
.intro {
    font-size: 15px;
    margin: 10px; 
    line-height: 25px;
}


h1 {
  display: flex;
  justify-content: flex-start;
  font: size 40px;
}
ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  list-style: none;
  gap: 10px;
  > li > figure > .zapa {
    width: 300px;
    height: auto;

  }
}
.flip-container {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    perspective: 1000px; 
  }
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 40px;
  }
  .flip-container:hover .card {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    
    width: 100%;
    border-radius: 40px;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background: linear-gradient(crimson, rgb(63, 11, 21));
  }
  .front {
    background: linear-gradient(rgb(63, 11, 21), crimson);
    border-radius: 40px;
    color: #fff;
       
  }
  .back {
    background-color: #00000000;
    color: white;
    transform: rotateY(180deg);
    font-size: 15px;
    display: flex;
    align-items: center;
  }
figure {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

figcaption {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  bottom: 15px;
}
iframe {
  width: 768px;
  height: 300px;
}

#Formulario_de_contacto{
    width: 100%;
}

.iframe_section {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
   
  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;

  }
  .nav{
    height: 55px;
  }
  #logo_airmax {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding-bottom: 10px;
    min-width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  .iframe_div {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 570px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
  }

  #logo_airmax {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding-bottom: 10px;
    min-width: 100%;
  }
  h1 {
    font-size: 24px;
  }
  .iframe_div {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
