@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo_airmax {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(63, 11, 21), crimson);
  padding-bottom: 10px;
  width: 100%;
  > img {
    width: 40%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  min-height: 100vh;
  background-color: #ffffff;
  background-color: #0f0e17;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  padding: 0px;
  margin: 0;
  background: linear-gradient(crimson, rgb(63, 11, 21));
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 5px 10px;
}

nav a:hover {
  background: linear-gradient(rgb(63, 11, 21), crimson);
  border-radius: 5px;
}

h1 {
  display: flex;
  justify-content: flex-start;
  font: size 40px;
}
ol {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100vw;
  list-style: none;
  > li > figure > .zapa {
    width: 300px;
    height: auto;
    

 
  }
}
figure {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

figcaption {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  bottom: 15px;
}
iframe {
  width: 768px;
  height: 300px;
}
textarea {
  min-width: 100%;
}

.iframe_section {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
  }
  #logo_airmax {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding-bottom: 10px;
    min-width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  .iframe_div {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 570px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
  }

  #logo_airmax {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding-bottom: 10px;
    min-width: 100%;
  }
  h1 {
    font-size: 24px;
  }
  .iframe_div {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
