@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo_airmax {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(63, 11, 21), crimson);
  padding-bottom: 10px;
  width: 100%;
  > img {
    width: 40%;
  }
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(crimson, rgb(63, 11, 21));
  width: 100%;
  height: 45px;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 5px 10px;
}
.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  transition: all 0.5s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}

.nav a {
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.76);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  min-height: 100vh;
  background-color: #ffffff;
  background-color: #0f0e17;
  color: white;
  background-image: url(./images/airmax-nike-logo-png_seeklogo-528702-removebg-preview.png);
  background-position: center;
  backdrop-filter: blur(6px) brightness(0.9);
}
.cita {
  font-size: 15px;
  margin: 10px;
  line-height: 25px;
  background: linear-gradient(rgba(63, 11, 21, 0.349), rgba(220, 20, 60, 0.725));
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  text-align: center;
}
.texto {
  font-size: 15px;
  margin: 10px;
  line-height: 20px;
}

h1, h2, h3 {
  margin: 10px;
  text-transform: uppercase;
  text-align: center; 
}


h1{
  font-size: 30px;
}

h2,h3 {
  font-size: 25px;
}
h3{
  margin-top: 100px;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  list-style: none;
  gap: 10px;
  > li > figure > .zapa {
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
.flip-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 40px;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  animation: rotate 4s linear infinite;
  width: 100%;
  border-radius: 40px;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  background: linear-gradient(crimson, rgb(63, 11, 21));
}
.front {
  background: linear-gradient(rgb(63, 11, 21), crimson);
  border-radius: 40px;
  color: #fff;
}
.back {
  background-color: #00000000;
  color: white(255, 255, 255);
  transform: rotateY(180deg);
  font-size: 15px;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  padding: 10px;
}
figure {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

figcaption {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  bottom: 15px;
}

iframe {
  width: 100%;
  height: 300px;
}

#Formulario_de_contacto {
  width: 100%;
}

.iframe_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}


.button {
  padding: 0.75rem 1.5rem;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  margin: 5px;
}
p,form{
  margin: 5px;
}
.button:hover {
  opacity: 0.9;
  color: rgb(255, 127, 127);
}
.copy,.contacto{
  margin: 5px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    height: auto;
  }
  .nav a {
    font-size: 18px;
  }

  #logo_airmax {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding-bottom: 10px;
    min-width: 100%;
  }
  .zapa{
    object-fit: contain;
  }

  .iframe_div {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}

@media (max-width: 570px) {
  nav ul {
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 10px;
  }
  .nav a {
    font-size: 15px;
  }
}

#logo_airmax {
  display: flex;
  justify-content: center;
  background-color: crimson;
  padding-bottom: 10px;
  min-width: 100%;
}
.iframe_div {
  width: 100%;
}
iframe {
  width: 100%;
}
